html {
  background-color: black;
}
.all {
  background-image: url('./images/armyColor.jpg');
  background-repeat: repeat;
  background-size: cover;
  min-height: 100vh;
}

.MuiTableCell-head {
  font-weight: bold !important;
}

.select {
  min-width: 115px;
  max-width: 150px;
  width: 8%;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.MuiButton-root {
  padding: 3px 10px !important;
}
.element {
  margin: 10px;
}

.CalculateButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.MuiFormControl-root {
  margin: 10px !important;
}
.MuiInputBase-input {
  text-align: right;
}
.randonGuard {
  margin-left: 10px !important;
}
.marginTop {
  margin-top: 10px;
}
.marginBottom {
  margin-bottom: 10px;
}
