.all {
  direction: rtl;
  background-image: url('./images/armyColor.jpg');

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 98vw;
  height: 94vh;
}

.select {
  min-width: 115px;
  max-width: 150px;
  width: 8%;
}
.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.app {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  flex-direction: row;
}
.MuiButton-root {
  padding: 3px 10px !important;
}

.element {
  margin: 10px;
}

.CalculateButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
